<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mapper.TypeMapper">

    <sql id="all">
        id,name
    </sql>

    <select id="getById" parameterType="long" resultType="Type">
        SELECT <include refid="all"></include> FROM t_type WHERE id = #{id}
    </select>
</mapper>